:root {
  --primary-color: #f8f9fa;
  --primary-color-medium: #adb5bd;
  --primary-color-dark: #495057;
  --primary-color-text: #190408;
  --color-text: #17122c;
  --charcoal: #333;
  --cream: #f4ebd0;
  --tan: #b68d40;
  --gold: #d6ad60;
}
